/** Add css rules here for your application. */

#application {
  border: 1px solid black;
  border-radius: 3px;
 -moz-border-radius: 3px;
  background: #fcfcec;
  padding: 5px;
}

#toolbar .gwt-Button {
  background: white;
  padding: 2px 5px;
  margin: 1px;
  border-width: 1.5px;
}

#toolbar .gwt-Button[disabled] {
  color: #CCC;
  border: 1px solid #CCC;
}

#toolbar .gwt-Button[disabled]:hover {
  border: 1px solid #CCC;
}

#selectorContainer, #outputContainer, #mathOutput {
  background: white;
  padding: 5px;
}

#selectorContainer {
  border-top: 2px solid black;
  height: 100px;
  vertical-align: top;
}

#outputContainer {
  width: 600px;
  border-left: 2px solid black;
}

#mathOutput {
  text-align: center;
  border-top: 2px solid black;
}
