/** Add css rules here for your application. */

#application {
  border: 1px solid black;
  border-radius: 3px;
 -moz-border-radius: 3px;
  background: #ffc;
}

#toolbar .gwt-Button {
  background: white;
  padding: 2px 5px;
  margin: 1px;
  border-width: 1.5px;
}

#toolbar .gwt-Button[disabled] {
  color: #CCC;
  border: 1px solid #CCC;
}

#toolbar .gwt-Button[disabled]:hover {
  border: 1px solid #CCC;
}

#selectorContainer {
  border: 1px solid black;
  border-radius: 3px;
 -moz-border-radius: 3px;
  background: white;
  padding: 2px;
}

#outputContainer {
  width: 600px;
  border-left: 1px solid;
  padding-left: 5px;
  background: white;
}
